# Hand-written boot menu: GRUB only hands off to Windows Boot Manager or Limine.
# Omarchy's kernel updates never touch this file. Do not run grub-mkconfig.
insmod part_gpt
insmod fat
insmod all_video
insmod gfxterm
insmod png
insmod chain
insmod search_fs_uuid

set gfxmode=1920x1080,auto
terminal_output gfxterm

set theme_dir=$prefix/themes/omarchy-green
loadfont $theme_dir/title.pf2
loadfont $theme_dir/item.pf2
loadfont $theme_dir/itemsel.pf2
loadfont $theme_dir/small.pf2
set theme=$theme_dir/theme.txt

set timeout_style=menu
set timeout=30
set default=windows

menuentry "Windows" --id windows --class windows {
    search --no-floppy --fs-uuid --set=root 6CD4-8998
    chainloader /EFI/Microsoft/Boot/bootmgfw.efi
}

menuentry "Omarchy Linux" --id omarchy --class omarchy {
    search --no-floppy --fs-uuid --set=root 97E0-0DF8
    chainloader /EFI/limine/limine_x64.efi
}
